node_modules
.husky
.vscode
.github
frontend/node_modules
frontend/build
frontend/.cache
frontend/coverage
frontend/styles
frontend/public/build
frontend/cypress/e2e/1-getting-started
frontend/cypress/e2e/2-advanced-examples
backend/node_modules
backend/dist